{
  "extends": [
    "standard",
    "plugin:require-path-exists/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "require-path-exists",
    "prettier"
  ],
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false
  },
  "rules": {
    "array-bracket-spacing": 0,
    "standard/no-callback-literal": 0
  }
}
